@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff);
}

:root{

  --clr-body: rgb(164, 164, 244);
  --clr-key: rgb(66, 31, 184);
  --clr-neutral: rgb(52, 21, 155);
  --clr-red: red;

  --ff: 'Varela Round', sans-serif;

  --b: 1px solid black;
}

body{
  background-color: var(--clr-body);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
  color: white;
  background-color: var(--clr-neutral);
  outline: 2px solid var(--clr-neutral);
  outline-offset: 2px;
  cursor: default;
}
h1 button{
  background-color: transparent;
  border: none;
  font-family: var(--ff);
  color: white;
  font-size: 20px;
  font-weight: bolder;
}

#dont{
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

#tour{
  background-color: var(--clr-neutral);
  border-radius: 10px;
  width: 300px;
  height: 50px;
  color: white;
  outline: 2px solid var(--clr-neutral);
  outline-offset: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: default;
  transition: 0.3s;
}
.white{
  filter: invert(1);
}


#keys{
  min-width: 300px;
  background-color: var(--clr-neutral);
  padding: 10px;
  border-radius: 10px;
  outline: 2px solid var(--clr-neutral);
  outline-offset: 2px;
}
#keys button{
  border: none;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  width: 115px;
  height: 115px;
}

#keys div{
  display: flex;
  align-items: center;
}

#reset{
  width: 100px;
  height: 40px;
  background-color: var(--clr-neutral);
  outline: 2px solid var(--clr-neutral);
  outline-offset: 2px;
  border-radius: 10px;
  color: white;
  transition: 0.2s;
  cursor: pointer;
}
#reset:hover{
   transform: scale(1.05);
   letter-spacing: 2px;
}
#reset:active{
  transform: scale(1);
  letter-spacing: normal;
}

#score{
  display: flex;
  flex-direction: column;
  background-color: var(--clr-neutral);
  border-radius: 10px;
  width: 100px;
  padding: 5px;
  color: white;
  outline: 2px solid var(--clr-neutral);
  outline-offset: 2px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  cursor: default;
  transition: 0.3s;
}
#score div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#advice{
  background-color: var(--clr-neutral);
  border-radius: 10px;
  width: 500px;
  color: white;
  outline: 2px solid var(--clr-neutral);
  outline-offset: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: white;
  padding: 20px;
}
#advice h1{
  width: 100%;
  margin: 0px;
  text-align: right;
}

@media (max-width: 500px){
  body{
    padding: 20px;
  }
  #dont{
    display: flex;
    flex-direction: column;
  }
  #advice{
    width: 300px;
  }

  #keys button{
    width: 100px;
    height: 100px;
  }
}

